<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/webp" href="/images/logo_optimized.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete a Platform</title>
  </head>
  <body>
    <%- include('../navbar') %>
    <main>
      <%- include('../description', { heading: 'Delete a Platform', description: 'Choose an existing platform from the dropdown and click on submit when finished!'}) %>
      <form action="/platforms/delete" method="POST">
        <label for="deletePlatform">Choose a Platform</label>
        <select name="deletePlatform" id="deletePlatform" required>
          <%- include('../partials/options') %>
          <%- include('../partials/errors') %>
        </select>
        <button>Submit</button>
      </form>
    </main>
    <%- include('../footer') %>
  </body>
</html>
