<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/webp" href="/images/logo_optimized.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update a Platform</title>
  </head>
  <body>
    <%- include('../navbar') %>
    <main>
      <%- include('../description', { heading: 'Update a Platform', description: 'Choose an existing platform from the dropdown, type in the new name for that selected platform, and click on submit when finished!'}) %>
      <form action="/platforms/update" method="POST">
        <label for="updatePlatformSelect">Choose a Platform</label>
        <select name="updatePlatformSelect" id="updatePlatformSelect" required>
          <%- include('../partials/options') %>
        </select>
        <label for="updatePlatformText">New Platform Name</label>
        <input type="text" id="updatePlatformText" name="updatePlatformText" placeholder="e.g. Nintendo Switch 2" required>
        <%- include('../partials/errors') %>
        <button>Submit</button>
      </form>
    </main>
    <%- include('../footer') %>
  </body>
</html>
