<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/webp" href="/images/logo_optimized.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update a Game</title>
  </head>
  <body>
    <%- include('../navbar') %>
    <main>
      <%- include('../description', { 
        heading: 'Update a Game', 
        description: `Currently editing ${game.game_name}, on the platform ${game.platform_name}. Type the new name you want it to have, choose its new platform, and submit when finished!`
      }) %>
      <form action="/games/update/<%= id %>" method="POST">
        <label for="updateGameText">New Game Name</label>
        <input type="text" id="updateGameText" name="updateGameText" value="<%= game.game_name %>" placeholder="e.g. Dead Cells" required>
        <label for="updateGamePlatform">Platform</label>
        <select name="updateGamePlatform" id="updateGamePlatform" required>
          <%- include('../partials/options', { selectedPlatform: game.platform_name }) %>
        </select>
        <%- include("../partials/errors.ejs") %>
        <button>Submit</button>
      </form>
    </main>
    <%- include('../footer') %>
  </body>
</html>
