<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="icon" type="image/webp" href="/images/logo_optimized.webp">
  <title>File Uploader</title>
</head>
<body>
  <%- include('../navbar') %>
  <main>
    <form action="/folders/delete" method="POST">
      <h1>Delete a Folder</h1>
      <p class="description">Delete a folder from one of your folders. Take note that you cannot delete the root folder, as you need a default folder to upload files if you do not have any other folders.</p>
      <label for="deleteFolder">Folder Name</label>
      <select style="margin-bottom: 0;" name="deleteFolder" id="deleteFolder" required>
          <% folders.forEach((folder) => { %>
            <% if (folder.name !== 'root') { %>
                <option value="<%= folder.name %>"><%= folder.name %></option> 
            <% } %>
          <% }) %>
      </select>
      <%- include('../partials/errors') %>
      <button type="submit">Delete</button>
    </form>
  </main>
  <%- include('../footer') %>
</body>
</html>
