<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="icon" type="image/webp" href="/images/logo_optimized.webp">
  <title>Log In</title>
</head>
<body>
  <%- include('navbar') %>
  <main>
    <% if (locals.user) {%>
      <h1>Welcome back, <%= user.first_name %> <%= user.last_name %>!</h1>
      <p style="margin-top: -1rem; color: var(--gray);">Take a look at the most recent messages below.</p>
      <section class="messages">
        <% messages.forEach((message) => { %>
          <% if (user.membership_status === true) { %>
            <%- include('message', {
              title: message.title,
              message_timestamp: message.message_timestamp, 
              message_text: message.message_text, 
              first_name: message.first_name,
              last_name: message.last_name
            }); %>  
          <% } else { %>
            <% if (user.first_name === message.first_name && user.last_name === message.last_name) { %>
              <%- include('message', {
                title: message.title,
                message_timestamp: message.message_timestamp, 
                message_text: message.message_text, 
                first_name: message.first_name,
                last_name: message.last_name
              }); %>  
            <% } else {%>
              <%- include('message', {
                title: message.title,
                message_timestamp: '', 
                message_text: message.message_text, 
                first_name: 'Anonymous',
                last_name: '' 
              }); %>  
            <% } %>
          <% } %>
        <% }); %>
      </section>
    <% } else { %>
      <%- include('log-in-form') %>
    <%}%>
  </main>
  <%- include('footer') %>
</body>
</html>
