<div class="message">
  <h2><%= title %></h2>
  <div class="top">
    <p class="user"><%= first_name %> <%= last_name %></p> 
    <p class="timestamp"><%= message_timestamp %></p> 
  </div>
  <p class="text"><%= message_text %></p> 
  <% if (user.is_admin) { %>
    <form action="/delete-message/<%= id %>" method="POST">
      <button type="submit">X</button>
    </form>
  <% } %>
</div>
