<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="icon" type="image/webp" href="/images/logo_optimized.webp">
  <title>File Uploader</title>
</head>
<body>
  <%- include('navbar') %>
  <main>
    <% if (locals.user) {%>
      <h1 style="margin-top: 1rem;">Welcome back, <%= user.firstName %> <%= user.lastName %>!</h1>
      <p class="description">You can create, update, and delete folders with the buttons below. Under these, you can see all of your folders. Click on a folder to see its files. To create a file, you can click on the button on the lower right. You are currently at the <i><%= currentFolder %></i> folder.</p>
      <section class="folders-crud">
        <a href="/folders/create">Create Folder</a>
        <a href="/folders/update">Update Folder</a>
        <a href="/folders/delete">Delete Folder</a>
      </section>
      <section class="folders">
        <% folders.forEach((folder) => { %>
          <a href="/folders/<%= folder.id %>"><%= folder.name %>/</a>
        <% }) %>
      </section>
      <%- include('./files/files') %>
      <a href="/files/create" class="anchor-create-file">+</a>
    <% } else { %>
      <%- include('log-in-form') %>
    <%}%>
  </main>
  <%- include('footer') %>
</body>
</html>
